@import '../../styles/variables.module.scss';
@import '../../styles/mixin.module.scss';

.container {
  position: relative;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: 100%;

  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 5vw;
  padding-right: 5vw;

  @include l {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  & h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: $black;

    @include l {
      font-size: 2.4rem;
    }
  }

  & h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: $black;

    @include l {
      font-size: 1.8rem;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  & div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;

    width: 80%;
    // max-width: 70rem;

    // @include l {
    //   width: 50%;
    // }
  }

  & p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: $black;
    text-align: left;

    @include l {
      font-size: 1.8rem;
    }
  }

  & button {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: $black;
    padding: 0.5rem;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
    border: 0.2rem solid $black;
    border-radius: 1rem;
    letter-spacing: 0.05em;

    cursor: pointer;

    font-size: 1.4rem;

    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;

    @include l {
      font-size: 1.8rem;
      padding-left: 2rem;
      padding-right: 2rem;

      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: '\2026'; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}
